body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}
/* Penambahan CSS untuk layout flexbox */
.title-container {
    display: flex;
    justify-content: space-between;
}

.title-container {
    display: flex;
    justify-content: space-between;
}
/* CSS lainnya tetap sama */

.anime-section {
    display: flex;
    justify-content: space-between;
}

.anime-info {
    flex: 1;
    margin-right: 20px; /* Jarak antar anime-info */
}

.anime-info h2 {
    margin-bottom: 10px; /* Jarak antara judul dan daftar episode */
}
